*{
    box-sizing: border-box;
}
body{
    /* background-color: aqua; */
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

#top{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.figure-container{
    width: 90%;
    margin: auto;
    height: 400px;
    position: relative;
}

.figure-container::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 35%, white 45%);
    position: absolute;
    left: 0;
    top: 0;
}

.figure-container figcaption{
    text-align: center;
    margin-top: 10px;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recipes{
    text-align: center;
    margin-top: 75px;
}

.recipes h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes a{
    color:gray;
    text-decoration: none;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    margin: auto;
    position: relative;
}

ul  a:last-child  img{
    height: auto;
    width: 400px;
}

ul p{
    position: absolute;
    top: 45%;
    left:25%;
    color:white;
    font-weight: 900;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.go-top{
    text-align: center;
    width: 100%;
}