*{
    box-sizing: border-box;
}
body{
    /* background-color: aqua; */
    margin: 0;
}

#top{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img{
    /* object-fit: cover; */
}

.recipes{
    text-align: center;
    margin-top: 75px;
}

.recipes h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color:gray;
    text-decoration: none;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    position: relative;
}

ul  a:last-child  img{
    height: auto;
    width: 400px;
}

ul p{
    position: absolute;
    top: 45%;
    left:25%;
    color:white;
    font-weight: 900;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.go-top{
    text-align: center;
    width: 100%;
}